<mat-sidenav-container class="sidenav-container flex-grow-1">
  <mat-sidenav class="sidenav" [mode]="isMobile() ? 'over' : 'side'" [opened]="opened()"
    (openedChange)="opened.set($event)">
    <mat-nav-list>
      @switch (role()) {
      @case ('admin') {
      <button routerLink="/admin/groups" class="side-nav-item" mat-list-item type="button"
        (click)="closeSidenavOnTouch()">
        <mat-icon matListItemIcon>groups</mat-icon>
        <span matListItemTitle>{{ 'LAYOUT.SIDENAV.GROUPS' | translate }}</span>
      </button>
      <button routerLink="/admin/users" class="side-nav-item" mat-list-item type="button"
        (click)="closeSidenavOnTouch()">
        <mat-icon matListItemIcon>person</mat-icon>
        <span matListItemTitle>{{ 'LAYOUT.SIDENAV.USERS' | translate }}</span>
      </button>
      <button routerLink="/admin/subjects" class="side-nav-item" mat-list-item type="button"
        (click)="closeSidenavOnTouch()">
        <mat-icon matListItemIcon>menu_book</mat-icon>
        <span matListItemTitle>{{ 'LAYOUT.SIDENAV.SUBJECTS' | translate }}</span>
      </button>
      }

      @case ('teacher') {
      <button routerLink="/teacher/groups" class="side-nav-item" mat-list-item type="button"
        (click)="closeSidenavOnTouch()">
        <mat-icon matListItemIcon>co_present</mat-icon>
        <span matListItemTitle>{{ 'LAYOUT.SIDENAV.TEACHER_JOURNAL' | translate }}</span>
      </button>
      <button routerLink="/teacher/subjects" class="side-nav-item" mat-list-item type="button"
        (click)="closeSidenavOnTouch()">
        <mat-icon matListItemIcon>group</mat-icon>
        <span matListItemTitle>{{ 'LAYOUT.SIDENAV.GROUPS' | translate }}</span>
      </button>
      <button routerLink="/teacher/attendance" class="side-nav-item" mat-list-item type="button"
        (click)="closeSidenavOnTouch()">
        <mat-icon matListItemIcon>analytics</mat-icon>
        <span matListItemTitle>{{ 'LAYOUT.SIDENAV.ATTENDANCE_ANALYTICS' | translate }}</span>
      </button>
      }

      @case ('user') {
      <button routerLink="/student" class="side-nav-item" mat-list-item type="button" (click)="closeSidenavOnTouch()">
        <mat-icon matListItemIcon>person</mat-icon>
        <span matListItemTitle>{{ 'LAYOUT.SIDENAV.MY_SUBJECTS' | translate }}</span>
      </button>
      <button routerLink="/student/journal" class="side-nav-item" mat-list-item type="button"
        (click)="closeSidenavOnTouch()">
        <mat-icon matListItemIcon>fact_check</mat-icon>
        <span matListItemTitle>{{ 'LAYOUT.SIDENAV.STUDENT_JOURNAL' | translate }}</span>
      </button>
      }

      @default {
      <div class="empty-nav-item">{{ 'COMMON.TEXT.NO_NAVIGATION_FOR_ROLE' | translate }}</div>
      }
      }

      <button class="side-nav-item" mat-list-item type="button" (click)="onLogout()">
        <mat-icon matListItemIcon>exit_to_app</mat-icon>
        <span matListItemTitle>{{ 'COMMON.ACTIONS.LOGOUT' | translate }}</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <main class="main-layout-content container py-4">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>