<mat-sidenav-container class="sidenav-container flex-grow-1">
  <mat-sidenav class="sidenav" [mode]="isMobile() ? 'over' : 'side'" [opened]="opened()"
    (openedChange)="opened.set($event)">
    <mat-nav-list>
      @switch (role()) {
      @case ('admin') {
      <button routerLink="/admin/groups" class="side-nav-item" mat-list-item type="button"
        (click)="closeSidenavOnTouch()">
        <mat-icon matListItemIcon>groups</mat-icon>
        <span matListItemTitle>Группы</span>
      </button>
      <button routerLink="/admin/users" class="side-nav-item" mat-list-item type="button"
        (click)="closeSidenavOnTouch()">
        <mat-icon matListItemIcon>person</mat-icon>
        <span matListItemTitle>Пользователи</span>
      </button>
      }

      @case ('teacher') {
      <button routerLink="/teacher/groups" class="side-nav-item" mat-list-item type="button"
        (click)="closeSidenavOnTouch()">
        <mat-icon matListItemIcon>co_present</mat-icon>
        <span matListItemTitle>Журнал</span>
      </button>
      }

      @case ('user') {
      <button routerLink="/student" class="side-nav-item" mat-list-item type="button" (click)="closeSidenavOnTouch()">
        <mat-icon matListItemIcon>person</mat-icon>
        <span matListItemTitle>Мои предметы</span>
      </button>
      }

      @default {
      <div class="empty-nav-item">No navigation for this role</div>
      }
      }

      <button class="side-nav-item" mat-list-item type="button" (click)="onLogout()">
        <mat-icon matListItemIcon>exit_to_app</mat-icon>
        <span matListItemTitle>Выход</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <main class="main-layout-content container py-4">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
