# Подробнее про .gitignore: https://docs.github.com/get-started/getting-started-with-git/ignoring-files

# Результаты сборки
/dist
/tmp
/out-tsc
/bazel-out

# Зависимости и логи Node.js
/node_modules
npm-debug.log
yarn-error.log

# Настройки IDE и редакторов
.idea/
.project
.classpath
.c9/
.ai/
*.launch
.settings/
*.sublime-workspace

# Локальные файлы Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

# Прочие временные/служебные файлы проекта
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# Системные файлы ОС
.DS_Store
Thumbs.db
.kilocode
