<mat-toolbar class="header-toolbar px-3 px-md-4">
  <button mat-icon-button [attr.aria-label]="'COMMON.ACCESSIBILITY.TOGGLE_NAVIGATION_MENU' | translate"
    (click)="onToggleSidenav()" class="menu-btn">
    <mat-icon>menu</mat-icon>
  </button>

  <a class="fw-semibold app-title title-link" routerLink="/">IT-Cube</a>

  <div class="toolbar-actions">
    <button mat-button class="language-btn" (click)="onToggleLanguage()"
      [attr.aria-label]="'COMMON.ACCESSIBILITY.TOGGLE_LANGUAGE' | translate">
      {{ currentLanguage().toUpperCase() }}
    </button>

    <button mat-icon-button (click)="darkMode.set(!darkMode())" class="dark-mode-btn"
      [attr.aria-label]="'COMMON.ACCESSIBILITY.TOGGLE_DARK_MODE' | translate">
      @if(darkMode()) {
      <mat-icon>light_mode</mat-icon>
      } @else {
      <mat-icon>dark_mode</mat-icon>
      }
    </button>
  </div>

  <button mat-button routerLink="/profile" class="profile-link-btn"
    [attr.aria-label]="'COMMON.ACCESSIBILITY.OPEN_PROFILE' | translate">
    <mat-icon>account_circle</mat-icon>
    <span>{{ 'PROFILE.TITLE' | translate }}</span>
  </button>
</mat-toolbar>
