<div class="home-container">

  <mat-card class="main-card">
    <mat-card-title>Образовательная платформа IT-Куб</mat-card-title>

    <mat-card-content>
      <p>
        Система дистанционного обучения для студентов, преподавателей и администраторов.
      </p>

      <p>
        Платформа позволяет проходить курсы, выполнять задания,
        сдавать тесты и отслеживать успеваемость.
      </p>

      <p>
        Проект разработан для центра цифрового образования IT-Куб.
      </p>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button color="primary">
        Войти
      </button>
    </mat-card-actions>
  </mat-card>

</div>
